*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container-div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    height: 400px;
    position: relative;
    top:80px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-rad);
}

.img-span{
    position: relative;
}

.img-span img{
    width: 100%;
}

.img-span span{
    position: absolute;
    bottom: 15px;
    left: 25px;
    background-color: var(--primary-color);
    color: #ffff;
    padding: 5px 10px;
    border-radius: var(--border-rad);
    font-size: 15px;
}

.text-container{
    position: relative;
    display: flex;
    text-align: start;
    margin: 0px 10px 0px 10px;
    top:30px;
}

.text-container p{
    position: absolute;
    top:60px;
    color: #495057;
}